---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import CompanyLogos from '../components/CompanyLogos.astro';
import Speaker from '../components/Speaker.astro';
import Methodology from '../components/Methodology.astro';
import ProgramModules from '../components/ProgramModules.astro';
import InfoSection from '../components/InfoSection.astro';
import Registration from '../components/Registration.astro';
---

<Layout title="Masterclass Transformarte con Liliana Oliveri | Claridad Mental">
	<Header />
	<main>
		<Hero />
		<CompanyLogos />
		<Speaker />
		<Methodology />
		<ProgramModules />
		<InfoSection />
		<Registration />
	</main>
</Layout>
