---
---

<section class="company-logos">
    <div class="container">
        <div class="logos-container">
            <img src="/images/img_google.png" alt="Google" class="company-logo">
            <img src="/images/img_ibm.png" alt="IBM" class="company-logo">
            <img src="/images/img_netflix.png" alt="Netflix" class="company-logo">
            <img src="/images/img_amazon.png" alt="Amazon" class="company-logo">
            <img src="/images/img_slack.png" alt="Slack" class="company-logo">
        </div>
    </div>
</section>
