---
---

<header class="header">
    <div class="container">
        <div class="flex-row justify-between">
            <img src="/images/img_header_logo.png" alt="Logo" class="logo">

            <nav class="nav-menu">
                <a href="#speaker" class="nav-link">Speaker</a>
                <a href="#details" class="nav-link">Detalles</a>
                <a href="#benefits" class="nav-link">Beneficios</a>
                <a href="#register" class="nav-link">Registro</a>
            </nav>

            <a href="#register" class="btn-register">Regístrate</a>
        </div>
    </div>
</header>
